<!-- Contact -->
<section id="contact">
	<div class="inner">				
		<p>
			<span class="image left"><img class="circular--square" src="assets/images/headshot.png" alt="" /></span>	
			Data is a curious beast. I focus on taming and harnessing it to solve interdisciplinary problems. I'm currently a junior studying <b>computer science at Stanford University</b>. I have an extensive background taking <b>machine learning</b> projects from ideation to execution. Check out some articles I've penned on <a href="https://medium.com/@swetharevanur" target="_blank">Medium</a> and various code samples on <a href="https://github.com/swetharevanur" target="_blank">GitHub</a>.
			<br><br>
			I'm also a huge fan of <a href="dataviz.html">data visualizations</a>, <a href="http://vsco.co/swetharevanur" target="_blank">travel photography</a>, and Grey's Anatomy. 
			<br><br>
			Looking forward to <a href="http://linkedin.com/in/swetharevanur" target="_blank">connecting</a> with you!
		</p>
	</div>
</section>

<style>
	.circular--square {
		border-radius: 50%;
	}
</style>
