<!-- Contact -->
<section id="contact">
	<div class="inner">				
		<section>
			<p>
				<span class="image left"><img class="circular--square" src="assets/images/headshot.png" alt="" /></span>				
				Data is a curious beast. I focus on taming and harnessing it to solve interdisciplinary problems. 
				I have an extensive background taking <b>machine learning and software development</b> <a href="projects.html">projects</a> from ideation to execution. 
				On the side, I've also been trying my hand at designing <a href="dataviz.html">data visualizations</a>. 
				I'm currently studying <b>computer science at Stanford University</b>. 
				<br><br>
				My personal passions lie in a space I like to call <b>"humanitarian computing"</b>, and 
				I'd love to hear your thoughts about delivering scalable tech solutions for social problems.
				<br><br>
				Looking forward to <a href="http://linkedin.com/in/swetharevanur">connecting</a> with you!				
			</p>
		</section>

		<section>
			<h3>Contact</h3>
			<form action="https://formspree.io/{{ site.email }}" method="POST">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
	</div>
</section>

<style>
.circular--square {
	border-radius: 50%;
}
</style>
