{% if site.tags != "" %}
    {% include collecttags.html %}
{% endif %}

<span>[
    {% for tag in site.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        {% assign tag_name = tag_name | split:' ' %}
        {% for link in tag_name %}
            {% assign link = link | split:' ' | strip %}
            <a class="tag" href="/tag/{{ link }}"><code class="highligher-rouge"><nobr>#{{link}}</nobr></code>&nbsp;</a>
        {% endfor %}
    {% endfor %}
]</span>

<style type="text/css">
        {% include timeline_style.css %}
</style>

