{% if site.tags != "" %}
    {% include collecttags.html %}
{% endif %}

<section id="cd-timeline" class="cd-container">
        <!-- PROJECT 1 -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/machine-learning"><code class="highligher-rouge"><nobr>#machine-learning</nobr></code>&nbsp;</a>
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/personal-project"><code class="highligher-rouge"><nobr>#personal-project</nobr></code>&nbsp;</a>
                        <br>
                        <h2>CryptAI: A Deep Learning-Powered Cryptocurrency Investment Engine</h2>                        
                        <a href="projects/cryptai.html" class="button special">Read more</a>
                        <span class="cd-date">Oct 2017 - Present</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->            
    
        <!-- PROJECT 2 -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/course"><code class="highligher-rouge"><nobr>#course</nobr></code>&nbsp;</a>
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/humanitarian-computing"><code class="highligher-rouge"><nobr>#humanitarian-computing</nobr></code>&nbsp;</a>
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/machine-learning"><code class="highligher-rouge"><nobr>#machine-learning</nobr></code>&nbsp;</a>
                        <br>
                        <h2>A Semi-Supervised Deep Learning Framework for the Automated Detection of Online Human Trafficking</h2>                        
                        <a href="projects/humantraff.html" class="button special">Read more</a>
                        <span class="cd-date">Sept 2017 - Dec 2017</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->    
    
        <!-- PROJECT 3 -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/internship"><code class="highligher-rouge"><nobr>#internship</nobr></code>&nbsp;</a>
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/machine-learning"><code class="highligher-rouge"><nobr>#machine-learning</nobr></code>&nbsp;</a>
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/robotics"><code class="highligher-rouge"><nobr>#robotics</nobr></code></a>
                        <br>
                        <h2>Integrative Reinforcement Learning for Optimized Robotic Control</h2>                        
                        <a href="projects/rl_robotics.html" class="button special">Read more</a>
                        <span class="cd-date">Jun 2017 - Aug 2017</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


        <!-- PROJECT 4 -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/internship"><code class="highligher-rouge"><nobr>#internship</nobr></code>&nbsp;</a>
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/machine-learning"><code class="highligher-rouge"><nobr>#machine-learning</nobr></code>&nbsp;</a>
                        <br>
                        <h2>Simulating the Motion of Agents in Pervasive Spaces</h2>
                        <a href="projects/sensor_sims.html" class="button special">Read more</a>
                        <span class="cd-date">Jun 2016 - Sept 2016</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


        <!-- PROJECT 5 -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/bioinformatics"><code class="highligher-rouge"><nobr>#bioinformatics</nobr></code>&nbsp;</a>
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/internship"><code class="highligher-rouge"><nobr>#internship</nobr></code>&nbsp;</a>
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/machine-learning"><code class="highligher-rouge"><nobr>#machine-learning</nobr></code>&nbsp;</a>
                        <br>
                        <h2>A Machine Learning Framework for Multi-Omics Discovery and Characterization of Gene Co-Alterations Impacting Disease</h2>
                        <a href="projects/gene_coalterations.html" class="button special">Read more</a>
                        <span class="cd-date">Jun 2015 - May 2016</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


        <!-- PROJECT 6 -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/humanitarian-computing"><code class="highligher-rouge"><nobr>#humanitarian-computing</nobr></code>&nbsp;</a>
                        <a class="tag" id="timeline-link" href="https://swetharevanur.github.io/tag/personal-project"><code class="highligher-rouge"><nobr>#personal-project</nobr></code>&nbsp;</a>
                        <br>
                        <h2>Dhairyam: A Web Portal for India's Sanitation Data</h2>
                        <a href="projects/dhairyam.html" class="button special">Read more</a>
                        <span class="cd-date">Mar 2015 - Present</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->  
    </section> <!-- cd-timeline -->
<style type="text/css">
        {% include timeline_style.css %}
</style>

