{% if site.tags != "" %}
    {% include collecttags.html %}
{% endif %}

<section id="cd-timeline" class="cd-container">
        <!-- PROJECT 1 -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <h2>Integrative Reinforcement Learning for Optimized Robotic Control</h2>
                        <a href="projects/rl_robotics.html" class="button special">Read more</a>
                        <span class="cd-date">Jun 2017 - Present</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


        <!-- PROJECT 2 -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <h2>Simulating the Motion of Agents in Pervasive Spaces</h2>
                        <a href="projects/sensor_sims.html" class="button special">Read more</a>
                        <span class="cd-date">Jun 2016 - Sept 2016</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


        <!-- PROJECT 3 -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <h2>A Machine Learning Framework for Multi-Omics Discovery and Characterization of Gene Co-Alterations Impacting Disease</h2>
                        <a href="projects/gene_coalterations.html" class="button special">Read more</a>
                        <span class="cd-date">Jun 2015 - May 2016</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


        <!-- PROJECT 4 -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <h2>Dhairyam - A Web Portal for India's Sanitation Data</h2>
                        <a href="projects/dhairyam.html" class="button special">Read more</a>
                        <span class="cd-date">Mar 2015 - Present</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


        <!-- PROJECT 4 -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <h2>Wisp - An Android App to Promote Youth Tobacco Abstinence</h2>
                        <a href="projects/dhairyam.html" class="button special">Read more</a>
                        <span class="cd-date">Feb 2015 - Jun 2015</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


        <!-- PROJECT 4 -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <h2>Enabling Precision Medicine with Big Data: A Cross-Platform Framework to Computationally Characterize Gene Presence and Function</h2>
                        <a href="projects/gene_presence_function.html" class="button special">Read more</a>
                        <span class="cd-date">Jun 2014 - Sept 2015</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


        <!-- PROJECT ? -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <h2>Factomics - A Cloud-Enabled Web Portal Facilitating Disease Causation Analysis</h2>
                        <a href="projects/factomics.html" class="button special">Read more</a>
                        <span class="cd-date">Nov 2013 – May 2014</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <!-- PROJECT ? -->
        <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                        <img src="assets/images/code.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                        <h2>Multi-Dimensional Genomic Data Analysis to Correlate a Disease and its Comorbidities</h2>
                        <a href="projects/disease_corr.html" class="button special">Read more</a>
                        <span class="cd-date">Oct 2012 – Apr 2014</span>
                </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

</section> <!-- cd-timeline -->

<!-- TAG CLOUD --> 
<section class="cd-container">
    <a class="tag" href="https://swetharevanur.github.io/tag/internship"><code class="highligher-rouge"><nobr>#internship</nobr></code>&nbsp;</a>
    <a class="tag" href="https://swetharevanur.github.io/tag/personal-project"><code class="highligher-rouge"><nobr>#personal-project</nobr></code>&nbsp;</a>
    <a class="tag" href="https://swetharevanur.github.io/tag/humanitarian-computing"><code class="highligher-rouge"><nobr>#humanitarian-computing</nobr></code>&nbsp;</a>
    <a class="tag" href="https://swetharevanur.github.io/tag/machine-learning"><code class="highligher-rouge"><nobr>#machine-learning</nobr></code>&nbsp;</a>
    <a class="tag" href="https://swetharevanur.github.io/tag/bioinformatics"><code class="highligher-rouge"><nobr>#bioinformatics</nobr></code>&nbsp;</a>
    <a class="tag" href="https://swetharevanur.github.io/tag/robotics"><code class="highligher-rouge"><nobr>#robotics</nobr></code>&nbsp;</a>
</section>


<style type="text/css">
        {% include timeline_style.css %}
</style>

