<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}


    <!-- Main -->
    <div id="main">
        {% include timeline.html %}

        <section id="two">
            <ul class="actions">
                <li><a href="project_archive.html" class="button next">See All</a></li>
            </ul>
            <div class="row">
                <div class="6u$ 12u$(small)">
                    {% include tagcloud.html %}
                </div>
            </div>
        </section>
    </div>

    {% include footer.html %}
</body>

</html>
