<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}


    <!-- Main -->
    <div id="main">
        {% include timeline.html %}

        <ul class="actions">
            <li><a href="project_archive.html" class="button next">See All</a></li>
        </ul>
        {% include tagcloud.html %}
        <!--<section id="two">
            <div class="inner">
                
            </div>
        </section>-->
    </div>

    {% include footer.html %}
</body>

</html>
