<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
  <div class="inner">
    <header class="major">
      <h1>{{ page.title }}</h1>
    </header>

    <ul class="posts">
        <li>
          <span class="post-date">Oct 2017 - Present &mdash; </span>
            <a class="post-link" href="https://swetharevanur.github.io/projects/cryptai.html">CryptAI: A Deep Learning-Powered Cryptocurrency Investment Engine</a>
        </li>
        <li>
          <span class="post-date">Sept 2017 - Dec 2017 &mdash; </span>
            <a class="post-link" href="https://swetharevanur.github.io/projects/humantraff.html">A Semi-Supervised Deep Learning Framework for the Automated Detection of Online Human Trafficking</a>
        </li>      
        <li>
          <span class="post-date">Jun 2017 - Aug 2017 &mdash; </span>
            <a class="post-link" href="https://swetharevanur.github.io/projects/rl_robotics.html">Integrative Reinforcement Learning for Optimized Robotic Control</a>
        </li>
        <li>
          <span class="post-date">Jun 2016 - Sept 2016 &mdash; </span>
            <a class="post-link" href="https://swetharevanur.github.io/projects/sensor_sims.html">Simulating the Motion of Agents in Pervasive Spaces</a>
        </li>
        <li>
          <span class="post-date">Jun 2015 - May 2016 &mdash; </span>
            <a class="post-link" href="https://swetharevanur.github.io/projects/gene_coalterations.html">A Machine Learning Framework for Multi-Omics Discovery and Characterization of Gene Co-Alterations</a>
        </li>
        <li>
          <span class="post-date">Mar 2015 - Present &mdash; </span>
            <a class="post-link" href="https://swetharevanur.github.io/projects/dhairyam.html">Dhairyam: A Web Portal for India's Sanitation Data</a>
        </li>
        <li>
          <span class="post-date">Feb 2015 - Jun 2015 &mdash; </span>
            <a class="post-link" href="https://swetharevanur.github.io/projects/wisp.html">Wisp: An Android App to Promote Youth Tobacco Abstinence</a>
        </li>
        <li>
          <span class="post-date">Jun 2014 - Sept 2015 &mdash; </span>
            <a class="post-link" href="https://swetharevanur.github.io/projects/gene_presence_function.html">A Cross-Platform Framework to Computationally Characterize Gene Presence and Function</a>
        </li> 
        <li>
          <span class="post-date">Nov 2013 - May 2014 &mdash; </span>
            <a class="post-link" href="https://swetharevanur.github.io/projects/factomics.html">Factomics: A Cloud-Enabled Web Portal Facilitating Disease Causation Analysis</a>
        </li>
        <li>
          <span class="post-date">Oct 2012 - Apr 2014 &mdash; </span>
            <a class="post-link" href="https://swetharevanur.github.io/projects/disease_corr.html">Multi-Dimensional Genomic Data Analysis to Correlate a Disease and its Comorbidities</a>
        </li>
    </ul>
  </div>
</section>


</div>

    {% include footer.html %}

</body>

</html>
