<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>Tag: {{ page.tag }}</h1>
		</header>
		<ul>
			{% for post in site.tags[page.tag] %}
				{{post}}
				<br>
				<li>
					<span class="post-date">{{ post.date | date_to_string }}</span>
        			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>


</div>

    {% include footer.html %}

</body>

</html>
